.navbar-brand h1 {
	font-size: 1em;
	margin-top: 5px;}

#nav-list {
  margin-top: 10px;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#content {
	background-color: #cccccc;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	min-height: 1000px;
}